#banner {
    width: 80%;
    height: 900px;
    background-color: rgb(241, 16, 241);
    border-radius: 5px;
    background-image: url(../images/i.png);
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
    background-position: center;
}

#bannerTexto {
    background-color: var(--corSecundaria);
    color: var(--textosHeader);
    padding: 10px;
}